<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/bc7d9770ac.js" crossorigin="anonymous"></script>
  <title>Mercado Web</title>
</head>

<body>
  {{> menu}}
  <div class="container mt-5">
    <h1>Bienvenido al mercado web, selecciona tus productos</h1>
    {{> producto}}
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>